files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDdjCCAl4CCQCnhUiNKHH9VDANBgkqhkiG9w0BAQUFADB9MQswCQYDVQQGEwJV
      UzEQMA4GA1UECBMHR2VvcmdpYTEQMA4GA1UEBxMHQXRsYW50YTENMAsGA1UEChME
      MzYwaTEcMBoGA1UECxMTUHJvZHVjdCBEZXZlbG9wbWVudDEdMBsGA1UEAxMUdGhy
      ZWVzaXh0eWktcHJvZC1kZXYwHhcNMTcwOTE5MTY1MDEwWhcNMTgwOTE5MTY1MDEw
      WjB9MQswCQYDVQQGEwJVUzEQMA4GA1UECBMHR2VvcmdpYTEQMA4GA1UEBxMHQXRs
      YW50YTENMAsGA1UEChMEMzYwaTEcMBoGA1UECxMTUHJvZHVjdCBEZXZlbG9wbWVu
      dDEdMBsGA1UEAxMUdGhyZWVzaXh0eWktcHJvZC1kZXYwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQClXiYYjBqGNQI4SLfQRFJ2CoP1maaSNFontVX3q8oU
      Ys0ZUlnyMzr5qH46HLKRTWiZoMSTy949E++uSp/LhHGHmxnzZLtJThOakfiBITAQ
      H0nJadTlaqhZWPpKt/TQ8jWASWej42ORdugsCUt7rx8RUmPjVBffNVFWmTcH1rBH
      l2FoPVbybbCAAw6gZ5AqIq3A1RzfF6QLM8ouHCrkKXcwDBd8PqDNHkx/ykfCi6Q1
      +MlqyMVQcGKhiDDpppvlNTEwtuSEVbnSZG68fouqd9vv5BJ+/ArEAGGzfEXmZF2A
      okcRa6g6n/PhuXVnmFfE0peeyn12oyCBpS7FXYdwC3RFAgMBAAEwDQYJKoZIhvcN
      AQEFBQADggEBAFfXbUSnD9K7t9SLWUzSXCPJ/UyTCBb8YMzZDTmPAN1D9b7XV2yI
      mOPD6S/dci+4miHv9GnrcFDgLpNUyIkpwIZ20X3HyqmUc+U6AISXhf7aDAUczTHR
      TrasoGfk0A09glrfvenkuanRrUbKSLejdAkhYUuYpO3vaTCQ8dvXbIdPP0+k73AI
      V/M33QjZgtD+ipalTVEEt9QQRxhuwZxP6R4e/pziTXrN5ilRNS8x9b6hdxVyg4Sf
      YqHZMh2B4hhWAal0BNYjidfVvG9KpHhpxE/aIYvVGxODSny0wLhsUtDTvcK4F6qj
      4yDd4B7vUKR7twxCX/fCDmrqaeiQJL8gzNE=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEApV4mGIwahjUCOEi30ERSdgqD9ZmmkjRaJ7VV96vKFGLNGVJZ
      8jM6+ah+OhyykU1omaDEk8vePRPvrkqfy4Rxh5sZ82S7SU4TmpH4gSEwEB9JyWnU
      5WqoWVj6Srf00PI1gElno+NjkXboLAlLe68fEVJj41QX3zVRVpk3B9awR5dhaD1W
      8m2wgAMOoGeQKiKtwNUc3xekCzPKLhwq5Cl3MAwXfD6gzR5Mf8pHwoukNfjJasjF
      UHBioYgw6aab5TUxMLbkhFW50mRuvH6Lqnfb7+QSfvwKxABhs3xF5mRdgKJHEWuo
      Op/z4bl1Z5hXxNKXnsp9dqMggaUuxV2HcAt0RQIDAQABAoIBACwjvj1tICNUgNwv
      JMk1g2E4m1JyCdEaojnZIDI0q4LXgHFS1ulcHVDIVbEDOfKo29Ot4uqkTxS0fpRi
      HNcA6iDNGJcr+wWtDnSCo/cruZ2EDHjzg70cxATdSCmrgnBHRlqQvVY0er44I+6l
      KH3CF6PS/xCNwLV2kNhxmwu/lVv2MVO3zK15V3VsqxW9pDFkEdeuLUPrUVQwk3tc
      Mvkf/Xw/cs8DYIJG+85iqCTOTiwG79rHG0cEvdPRsUSJL8dSMwvetA3coESs08mt
      wbhtvIvkhIbdp8tREpPzjVGQSC3xiIjaigjr3Imp2QX/wRXB9GGxVlL6coUfzZDa
      1xQl8X0CgYEA0EzIPSQXzdu/zZoLnUmFV9CqXLOzwhlqYVzbE+r3cHYUnMVec6y0
      qojG7byBb6OpoGyiasi+omTVZ7bLRa3czQxgmh7ZEG8oftGC4kOzI5xyOjZNwIrq
      pQYW1DBuiCQ2Te7z4xJSrfiT04AGNIvPwOR+CNY8LwtKfeOyG5eSh78CgYEAyzyL
      RCOu5JOqWJhMM/xI0YePUbjaRX67d7dXY0IID3luC/CMGAdha+ogxhPRpMTPn3Kv
      L0iTZsEHplJMrQFq8Td/SGIccDxdG00zi3TpyhU7moGipVoaJL4MYAfcQZgL72Ho
      MYTDf3XSdHeIbwlCJTAjoBJR4IHd6GFZWjYWpPsCgYEAvJZ3yFtQLfIh8nzgvRPe
      ZQYn5+xO+JHYLbRLKPpX8nsF6HYNML+RhsB1ErLToYbUwcj5N6LubcrLJ65o1Xo2
      6XKmV4NMVUO+ryryy/YtTzWKecfGl2duT+B2dMAwopPekqqgJtrk/luLQzaq55IZ
      k3OL5GZKcPFRDS9EhxSw9rMCgYAr0lMpDxSf3qMlVTlhIC3HWBZ0BYqy31+msZab
      JVq9k25CDsz2RWkhLquAajeS8ojeFYlmhZya1FZE64vy5dJcTp4YSmddX/anc18A
      2+WpGCjw6LDcPHBUqdHbRvacAh/YruC1BK5upkYJrNhzMKjdgeK8mhajdP0XJR5y
      ECWTzwKBgDe0+tnqUOczqM9AfZ/br+8AAzp/zFtklKKtz9dT10hMUP0GvCcmk2cE
      eKK95kMkJ4dfI0BH08wWJEZiY8WNYfu+9rDoLIc5oRUGw/9GNe8XEQ2NBqpjOsLQ
      ebO575D8WPADB3oP0YJDIkCUtqc4M1Xr6iBCJSGyLRqX9F3Tf7P+
      -----END RSA PRIVATE KEY-----